<%- include('partials/header') %>

<div class="container-fluid">
  
    <div class="card-body list">
      <h4 class="card-title list-title"><%= ListName %></h4>
      <div class="list-contents">
        <% TodoListData.forEach(function(TodoItem) { %>
            <% if (TodoItem.CompleteDate == null) { %>
                <div class="card-text text-dark text-primary todo-item">
                    <form action="/markcomplete" method="post">
                        <div class="item">
                          <input type="checkbox" name="checkbox" value="<%=TodoItem._id%>" onChange="this.form.submit()">
                          <%= TodoItem.Task %>
                        </div>
                        <input type="hidden" name="listName" value="<%= ListName %>"></input>
                      </form>
                </div>
            <% } %>
        <% }); %>
        <hr>
    <div>
        <%- include('./newtask.ejs', {listname : ListName }) %>
    </div>
</div>

<!-- <div class="list">
    <div class="jumbotron">
        <h1><%= ListName %></h1>
    </div>
        <div class="list-contents">
        <div class="todo-item">
            <% TodoListData.forEach(function(TodoItem) { %>
                <% if (TodoItem.CompleteDate == null) { %>
                <div>
                    <input type="checkbox" id="<%= TodoItem._id %>" \>             
                    <%= TodoItem.Task %>
                </div>
                <% } %>
            <% }); %>
        </div>
    </div>
    <%- include('./newtask.ejs', {listname : ListName }) %>
</div>
 -->
<%- include('partials/footer') %>